@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@100&display=swap');

:root {
  --text: #ffffff;
  --background: #010f13;
  --primary: #4dcdf5;
  --secondary: #03222b;
  --accent: #0eb8ec;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  font-family: 'Roboto', sans-serif;
  color: var(--text);
}

div#container-main {
  background-color: #ffffff0f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  min-height: 600px;
  min-width: 800px;
  border-radius: 10px;
  >* {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

#inp-main {
  background-color: var(--secondary);
  outline: none;
  border: 1px solid white;
  color: var(--text);
  padding: 10px;
  border-radius: 10px;
  width: 95%;
  height: 550px;
  font-size: 25px;
}

#container-output {
  display: flex;
  flex-direction: row;
  gap: 15px;
  float: left
}

p[id^="char"] {
  cursor: pointer;
  color: #000;
  background-color: var(--primary);
  min-height: 40px;
  height: fit-content;
  min-width: 200px;
  font-size: 25px;
  padding: 5px;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
  >span.num {
    font-weight: bold;
  }
}