@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@100&display=swap');

body {
  margin: 0;
  padding: 0;
  background-image: url("back.svg");
  background-attachment: fixed;
  background-size: cover;
}

div#container-items {
  height: fit-content;
  width: fit-content;
  position: absolute;
  margin: 5% 5%;
  float: left;
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 35px;
  justify-content: center;
}

[id^="project-"] {
  all:unset;
  height: 350px;
  width: 400px;
  background-color: #ffffff40;
  border-radius: 10px;
  background-size: cover;
  background-repeat: repeat-y;
  background-position: 0 -10px, 0 -10px;
  cursor: pointer;
  box-shadow: 0 0 5px 2px #d0d0d050;
  background-repeat: no-repeat;
}

.title-project {
  background: linear-gradient(0turn, #000000, #00000080);
  height: 35px;
  width: auto;
  position: relative;
  top: 90%;
  color: #d0d0d0;
  font-family: 'Roboto';
  font-size: 25px;
  text-align: center;
  padding-top: 5px;
}

#project-loader {
  background-image: url("./showcase/image/loader-img.png"), url("./bgPlaceholder.svg");
}

#project-drumkit {
  background-image: url("./showcase/image/drumkit-img.png"), url("./bgPlaceholder.svg");
}

#project-clock {
  background-image: url("./showcase/image/clock-img.png"), url("./bgPlaceholder.svg");
}

#project-box-editor {
  background-image: url("./showcase/image/box-editor-img.png"), url("./bgPlaceholder.svg");
}

#project-mouse-cursor {
  background-image: url("./showcase/image/mouse-cursor-img.png"), url("./bgPlaceholder.svg");
}

#project-glitched-text {
  background-image: url("./showcase/image/glitched-text-img.png"), url("./bgPlaceholder.svg");
}

#project-calculator {
  background-image: url("./showcase/image/calculator-img.png"), url("./bgPlaceholder.svg");
}

#project-quiz-game {
  background-image: url("./showcase/image/quiz-game.png"), url("./bgPlaceholder.svg");
}

#project-simple-drawing-app {
  background-image: url("./showcase/image/simple-drawing-app.png"), url("./bgPlaceholder.svg");
}

#project-password-generator {
  background-image: url("./showcase/image/password-generator.png"), url("./bgPlaceholder.svg");
}

#project-random-color-generator {
  background-image: url("./showcase/image/random-color-generator.png"), url("./bgPlaceholder.svg");
}

#project-todo-app {
  background-image: url("./showcase/image/todo-app.png"), url("./bgPlaceholder.svg");
}

#project-temperature-converter {
  background-image: url("./showcase/image/temperature-converter.png"), url("./bgPlaceholder.svg");
}

#project-loan-calculator {
  background-image: url("./showcase/image/loan-calculator.png"), url("./bgPlaceholder.svg");
}

#project-age-calculator {
  background-image: url("./showcase/image/age-calculator.png"), url("./bgPlaceholder.svg");
}

#project-character-counter {
  background-image: url("./showcase//image/character-counter.png"), url("./bgPlaceholder.svg");
}

#project-rock-paper-scissors {
  background-image: url("./showcase/image/rock-paper-scissors.png"), url("./bgPlaceholder.svg");
}

#project-tabs {
  background-image: url("./showcase/image/tabs.png"), url("./bgPlaceholder.svg");
}

#project-mini-calender {
  background-image: url("./showcase/image/mini-calender.png"), url("./bgPlaceholder.svg");
}

#project-weather-app {
  background-image: url("./showcase/image/weather-app.png"), url("./bgPlaceholder.svg");
}
